* {
  padding: 0;
  margin: 0;
}

body {
  background: white;
}

#nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Oswald', sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: black;
}

#nav-bar a {
  color: inherit;
  text-decoration: inherit;
}

#nav-bar #nav-bar-logo {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-bar #nav-bar-logo img {
  width: 55px;
  height: 55px;
}

#nav-bar #model-manu {
  width: 70%;
}

#nav-bar #model-manu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav-bar #model-manu ul li {
  margin-right: 7%;
}

#nav-bar #model-manu ul li img {
  width: 23px;
  height: 23px;
}

#nav-bar #shop {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav-bar #login-button {
  width: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#nav-bar #manu {
  width: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 1%;
}

#nav-bar #manu img {
  width: 25px;
  height: 25px;
}

#content #main-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content #main-content .slick-slider {
  width: 65%;
  height: 470px;
  margin-left: 70px;
}

#content #main-content .slick-dots {
  bottom: 10%;
}

#content #main-content .slick-dots button {
  width: 10px;
  height: 10px;
}

#content img {
  width: 1024px;
  height: 470px;
  border-radius: 10px;
}

#content #get-new-car {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 470px;
  font-family: 'EB Garamond', serif;
  font-size: 50px;
  text-align: center;
}

#content #get-new-car p {
  margin-top: 25%;
}

#content #get-new-car p span {
  font-weight: 700;
}

#content #get-new-car button:focus {
  outline-width: 0;
}

#content #get-new-car button {
  margin: auto;
  font-family: 'Oswald', sans-serif;
  font-size: 55px;
  width: 200px;
  border-radius: 10px;
  background: white url("./img/button-background.jpg");
}

#content .slick-dots li button:before, #content .slick-next:before, #content .slick-prev:before {
  color: white;
  font-size: 10px;
}

#footer {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  margin-top: 10px;
}

#footer #footer-manu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
}

#footer #footer-manu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

#footer #footer-manu ul li {
  margin-left: 100px;
  width: 200px;
}

#footer #footer-manu ul li a {
  color: inherit;
  text-decoration: inherit;
}
/*# sourceMappingURL=index.css.map */